#navbar{
padding: 10px;
}

.container{
display: grid;
background: url(../img/sign-bg.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
resize: both;
min-height: 100vh;
place-items: center;}

.signinbox{
margin: auto;
width: 400px;
padding: 2rem;
border-radius: 4px;
place-items: center;
background: white;
opacity: 0.8;
}

.signbox-header h1{
font-weight: 300;
font-size: 26px;
line-height: 50px;
text-align: center;
}

.signbox-header a{
display: grid;
text-align: center;
text-decoration: none;
margin-bottom: 10px;
}

@media(max-width:500px){
.signbox-header h1{
    font-size: 28px;
}
}

form{
display: grid;
}

label{
margin-bottom: 3px;
font-size: 18px;
letter-spacing: 2px;
}

form input{
height:  30px;
border-radius: 8px;
border: 1px solid #A7A6AB;
outline: none;
margin-bottom: 20px;
transition: 0.3s;
}

form input:hover{
border: #0a20e4 solid 1px;
}

form hr{
width: 100%;
}

#signinbtn{
background: linear-gradient(90deg, #07b9f5 35%, #00c8ff 100%);
color: #fff;
height: 50px;
cursor: pointer;
font-size: 20px;
outline: none;
}

.forgotpword{
text-align: center;
margin-bottom: 20px;
}

.forgotpword a{
text-decoration: none;
}

form p{
text-align: center;
}

.applebtn button{
background-color: #000;
color: #fff;
border-width: 0;
height: 38px;
width: 100%;
border-radius: 3px;
white-space: nowrap;
cursor: pointer;
margin-bottom: 20px;
font-size: 20px;
outline: none;
}
.googlebtn button{
background-color: #fff;
border-width: 0;
height: 38px;
width: 100%;
border-radius: 3px;
white-space: nowrap;
cursor: pointer;
margin-bottom: 20px;
box-shadow: 0 3px 4px 0 rgb(0 0 0);
font-size: 20px;
outline: none;

}
.facebtn button{
background-color: #1802ff;
color: #fff;
border-width: 0;
height: 38px;
width: 100%;
border-radius: 3px;
white-space: nowrap;
cursor: pointer;
font-size: 20px;
outline: none;

}