@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body, html{
margin: 0;
box-sizing: border-box;
min-height: 100vh;
scroll-behavior: smooth;
overflow-x: hidden;
font-family: 'Montserrat', sans-serif;
}



/*header starts*/



.navbar{
display: flex;
background-color: #095fc7;
}

.burger{
display: flex;
place-items: center;
margin: auto;
}

.burger a{
color: #fff;
text-decoration: none;
font-size: 2.5rem;
}

.logo{
margin: auto;
font-size: 30px;
text-decoration: none;
color: #fff;
display: flex;
}

.logo img{
height: 24px;

padding: 2px 0px;
}

.navlinks {
margin: auto;
padding: 0;
list-style: none;
}
.navlinks li {
display: inline-block;
}
.navlinks a {
display: block;
padding: 1rem;
text-decoration: none;
color: #ffffff;
}

@media(max-width:988px){

.navlinks{
display: none;

}


}


@media(min-width:988px){
.burger{
display: none;
}

}

.closeburger {
text-align: center;
}

#closex{
    font-size: 2rem;
}

#sidenav{
display: grid;
min-height: 100%;
width: 0;
background-color: #095fc7;
position: fixed;
right:  0;
transition: 0.5s;
z-index: 1;
}

.sidenavlinks{
display: grid;
place-items: center;
list-style: none;
}

.sidenavlinks a{
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 15px;
color: #fff;
display: block;
transition: 0.3s;
outline: none;
}

.hero{
background:linear-gradient(#00000080, #00000080), 
url("./house-bg.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height: 400px;
display: grid;
margin-bottom: 20px;
}

.hero-text{
display: grid;
color: #fff;
width: 35vw;
margin: auto;
font-size: 2rem;
font-weight: 100;
text-align: center;
}

@media(max-width:1440px){
.hero{
display: flex;
flex-direction: column;
}  

.hero-text{
width: 55vw;
}
}
@media(max-width:768px){
.hero{
display: flex;
flex-direction: column;
}  

.hero-text{
width: 100vw;
}
}

.hero-form{
margin:auto;
width: 50%;
outline: none;
border: none;
}

.hero-form input:focus{
background-color: #ffffff;
}

@media(max-width:768px){
.hero-form{
width: 100%;
margin:auto;
transform: translateX(20px);}

}

.hero-form input{
width: 100%;
font-size: 16px;
font-weight: 300;
border-radius: 3px;
border: none;
min-height: 70px;
outline: none;
padding: 0 20px;
transition: 0.3s;
background-color: #e7e6e3;
}

.input-box{
display: flex;
place-items: center;
margin: auto;
width: 100%;
}



.input-box span{
display: flex;
transform: translateX(-60px);
}

.search-btn{
border: none;
background: transparent;
padding: unset;
cursor: pointer;
outline: none;
}

.input-box img{
padding: 10px;
height: 30px;
}





/*header stops*/


/*main starts*/ 

main{
min-height: 100vh;
margin-bottom: 50px;
content-visibility:auto;
}


.tagline-title{
display: grid;
margin: auto;
text-align: center;
font-weight: 600;
font-size: 2.5rem;
margin-bottom: 50px;}

.tagline-subtitle{
text-align: center;
font-size: 1.375rem;
line-height: 1.375rem;
}

.tagline-header{
background-color: #f5f5f5;
width: 50vw;
height: 50vh;
}



.tagline-header1{
font-weight: 400;
padding: 0 50px;
}

.tagline-header1p{
font-weight: 300;
padding: 0 50px;
font-size: 2rem;
}

.tagline-header1a{
font-size: 2rem;
padding: 0 50px;
text-decoration: none;
text-align: center;
color: #6d6df8;
}
    


.card{
width: 100vw;
height: 50vh;
display: flex;
margin:auto;
place-items: center;
place-content: center;
}

.card-img{
background: url(./img/home-1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 50vw;
min-height: 50vh;
}
.card-img2{
background: url(./img/home2.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 50vw;
min-height: 50vh;
}

.card-img3{
background: url(./img/home3.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 50vw;
min-height: 50vh;
}
    


@media(max-width:1100px){


.tagline-title{
font-size: 4vh;
}


#tagline1h{
font-size: 2vh;
width: 100vw;
}
#tagline3h{
font-size: 2.3vh;
width: 100vw;
}

#tag1p{
font-size: 2.3vh;
}

#tagline1a{
font-size: 2vh;
}
#tagline2a{
font-size: 2vh;
}

}

@media(max-width:600px){

.tagline-title{
font-size: 25px;
}

.tagline-subtitle{
font-size: 15px;
border-bottom: solid 1px;
margin-bottom: 20px;
}
#tagline1h{
font-size: 15px;
}
#tagline3h{
font-size: 15px;
}
#tagline2a{
font-size: 15px;
}

.card-flex-img1{
width: 100%;
}
}

@media(min-width:600px){
.card-flex-img1{
width: 100%;
}
}

.card-flex-mg{
display: flex;
margin-bottom: 8rem;

}

.card-flex-title{
width: 100%;
flex: 1 300px;

}

.card-flex{
display: flex;
justify-content: space-evenly;
width: 100%;
height: 30vh;
margin: 4rem auto;
padding: 1rem;
}

@media(max-width:800px){
.card-flex-mg{
width: 100vw;
flex-direction: column;}

.card-flex{
width: 100vw;
}
}


.card-flex-title h1{
text-align: center;
font-weight: 300;
font-size: 1.5rem;
}

@media(max-width:1150px){
.card-flex-title h1{
font-size: 1.3rem;
}


}

@media(max-width:857px){
.card-flex-subtitle{
    font-size: 15px;
}
}

@media(max-width:1010px){
.card-flex-title h1{
font-size: 1rem;
}

.card-flex-button{
width: 15vw;
}

}
@media(max-width:670px){
.card-flex-button{
width: 20vw;
}
}

@media(max-width:500px){
.card-flex-button{
width: 35vw;
}
}

.card-flex-subtitle{
text-align: center;
}

.card-flex-button{
background: #3890e2;
background: linear-gradient(0deg, #3890e2 0%, #2478d9 100%); 
border: none;
border-radius: 7px;
display: grid;
margin: auto;
padding: 0.9rem;
cursor: pointer;
color: #fff;
text-align: center;
}



#card-flexbtna{
text-decoration: none;
outline: none;
}

.card-flex-img1{
background: url(./img/flex-home1.jpg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
width: 100%;
margin: auto;
}

.card-flex-img2{
background: url(./img/flex-home2.png);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
width: 100%;
margin: auto;
}

.card-flex-img3{
background: url(./img/flex-home3.jpg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
width: 100%;
margin: auto;
}
















/*main stops*/ 

/*footer starts*/

footer{
background-color: #095fc7;
width: 100vw;
}



.af-top{
outline: none;
text-decoration: none;
margin-bottom: 20px;
text-align: center;
place-content: center;
display: grid;
}

.footer-top{
background-color: #03479b;
color: #fff;
font-size: 1rem;
text-align: center;
padding: 1rem;
cursor: pointer;
line-height: 2rem;
width: 100vw;
place-content: center;
}

/*@media(max-width:1020px){
table{
font-size: 15px;
}

tr, th, td {
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
place-content: center;
}
}*/

@media(max-width:1020px){


table,th,td{
    font-size:10px;
}

}
@media(max-width:875px){


table,th,td{
    font-size:10px;
}

}
@media(max-width:800px){


table,th,td{
    font-size: 8px;
}

}

@media(max-width:768px){
table,th,td{
font-size: 15px;
}

tr, th, td {
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
place-content: center;
}
}
@media(max-width:600px){
table{
font-size: 15px;
}

tr, th, td {
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
place-content: center;
}
}

@media(max-width:500px){
table{
font-size: 15px;
}

tr, th, td {
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
place-content: center;
}
}


table, th, td {
line-height: 40px;
padding:0 50px;
white-space: nowrap;
text-align: left;
color: #fff;
width: 100vw;
}




table a{
text-decoration: none;
color: #fff;
text-align: center;
}



/*footer stops*/
